{{#extends 'base'}} {{#block 'head'}}ALL Movies{{/block}}
{{#block 'content'}}

<div id="movies-display">
  {{#each allmovies}}
  <div class="card my-3" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title text-success">{{ this._id.$old }} {{ this.title }}</h5>
      <hr />
      <p class="card-text">{{ this.plot }}</p>
      <p class="card-text">
        <a href = "/edit-movie/{{ this._id.$oid}}" class="btn btn-primary btn-sm" id="edit">Edit</a>
        <a
          href="/delete-movie/{{ this._id.$oid}}"
          class="btn btn-danger btn-sm"
          id="delete"
          >Delete</a
        >
      </p>
    </div>
  </div>
  {{/each}}
</div>
{{/block}}
{{/extends}}
